.liquidEnergy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  div {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
  }
  .imgBox {
    position: relative;
    width: 382px;
    img {
      width: 382px;
    }
    span {
      position: absolute;
      color: #007dff;
      font-size: 14px;
    }
    .one {
      top: 33px;
      left: 41%;
    }
    .six {
      bottom: 64px;
      left: 36%;
    }
    .two {
      top: 78px;
      left: 56%;
      transform: rotate(-45deg);
    }
    .seven {
      right: 64%;
      bottom: 106px;
      transform: rotate(-45deg);
    }
    .three {
      top: 100px;
      right: 13%;
      transform: rotate(-23deg);
    }
    .eight {
      bottom: 161px;
      left: 16%;
      transform: rotate(-20deg);
    }
    .four {
      top: 192px;
      right: 13%;
      transform: rotate(20deg);
    }
    .nine {
      bottom: 207px;
      left: 18%;
      transform: rotate(15deg);
    }
    .five {
      bottom: 83px;
      left: 58%;
      transform: rotate(45deg);
    }
    .ten {
      top: 78px;
      right: 59%;
      transform: rotate(40deg);
    }
    .eleven {
      right: 16%;
      bottom: 186px;
    }
  }
}
