.liquidEnergy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  div {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
  }
  .imgBox {
    position: relative;
    width: 382px;
    @media screen and (max-width: 1556px) {
      width: 325px;
      margin-top: 20px;
    }
    img {
      width: 382px;
      @media screen and (max-width: 1556px) {
        width: 100%;
      }
    }
    span {
      position: absolute;
      color: #007dff;
      font-size: 14px;
      @media screen and (max-width: 1556px) {
        font-size: 12px;
      }
    }
    .one {
      top: 33px;
      left: 41%;
      @media screen and (max-width: 1556px) {
        font-size: 12px;
      }
    }
    .six {
      bottom: 64px;
      left: 36%;
      @media screen and (max-width: 1556px) {
        font-size: 12px;
      }
    }
    .two {
      top: 78px;
      left: 56%;
      transform: rotate(-45deg);
      @media screen and (max-width: 1556px) {
        top: 66px;
      }
    }
    .seven {
      right: 64%;
      bottom: 106px;
      transform: rotate(-45deg);
      @media screen and (max-width: 1556px) {
        bottom: 92px;
      }
    }
    .three {
      top: 100px;
      right: 13%;
      transform: rotate(-23deg);
      @media screen and (max-width: 1556px) {
        top: 83px;
      }
    }
    .eight {
      bottom: 161px;
      left: 16%;
      transform: rotate(-20deg);
      @media screen and (max-width: 1556px) {
        bottom: 139px;
      }
    }
    .four {
      top: 192px;
      right: 13%;
      transform: rotate(20deg);
      @media screen and (max-width: 1556px) {
        top: 163px;
      }
    }
    .nine {
      bottom: 207px;
      left: 18%;
      transform: rotate(15deg);
      @media screen and (max-width: 1556px) {
        bottom: 177px;
      }
    }
    .five {
      bottom: 83px;
      left: 58%;
      transform: rotate(45deg);
      @media screen and (max-width: 1556px) {
        bottom: 89px;
      }
    }
    .ten {
      top: 78px;
      right: 59%;
      transform: rotate(40deg);
      @media screen and (max-width: 1556px) {
        top: 69px;
      }
    }
    .eleven {
      right: 16%;
      bottom: 186px;
      @media screen and (max-width: 1556px) {
        bottom: 158px;
      }
    }
  }
}
