.timeline {
  height: calc(100vh - 346px);
  padding: 22px 5px 5px;
  overflow: auto;
}

.detail {
  :global {
    .ant-descriptions-row:nth-child(3) {
      display: none;
    }
    td.ant-descriptions-item-content {
      width: 100px;
      white-space: normal;
    }
  }
}
