.liquid {
  padding: 24px;
  overflow-x: hidden;
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 412px;
  }
  .card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    .icon {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      width: 60px;
      margin: 0 40px;
      @media screen and (max-width: 1560px) {
        margin: 0 10px;
      }
    }
    .title {
      color: #909399;
    }
    :global {
      .ant-card-body {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 20px 16px;
      }
    }
  }
}
