.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 0 24px;
  background: #fff;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  .left_content {
    .connectType {
      color: #1d2129;
      font-weight: 500;
      font-size: 14px;
    }
    .address {
      margin-left: 10px;
      color: #1d2129;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .right_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
}
