.lable {
  display: inline-block;
  width: 140px;
  color: #909399;
}
.alarmCard {
  background: #fff;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
